{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
    <main class="col-md-12">
        <div class="aplayer" id="aplayer"></div>
        <div class="col-md-12 col-xs-12">
            <div class="input-group">
                <input placeholder="请输入歌曲名称" class="form-control" type='text' id="music_name" name="music_name"></input>
                <span class="input-group-addon" id ='search' onclick="search_song()"><i class="glyphicon glyphicon-search"></i></span>
            </div>
        </div>
        <div class="container" id="parent">

        </div>
    </main>
{% endblock %}

{% block  javascript %}
    <script>
        function play_song(song_id){
            $.ajax({url:"{% url 'music:play' %}",
                data:{'song_id': song_id},
                type:'GET',
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function(data,textStatus){
                var songs = eval(data);
                var song_list = new Array()
                console.log(songs);
                for(var i=0;i<songs.length;i++){
                    song_list.push(songs[i].fields)
                    }
                song_list.reverse();
                new APlayer({
                    container: document.getElementById('aplayer'),
                    autoplay:true,
                    audio: song_list
                });
            }
            });
        };
        var songs = {{ songs | safe }};
        var song_list = new Array()
        console.log(songs);
        for(var i=0;i<songs.length;i++){
            song_list.push(songs[i].fields)
            };
        new APlayer({
            container: document.getElementById('aplayer'),
            autoplay:true,
            audio: song_list
        });
        function search_song(){
            $.get("{% url 'music:search_song' %}",{
                'music_name': $('#music_name').val()
            },function(data, textStatus){
                var song_list = eval(data)
                console.log(song_list)
                var $parent = $("#parent").empty()
                for(var i=0;i<song_list.length;i++){
                    var html = "<article class='post post-1'><header class='entry-header'></header><div class='entry-content clearfix'><p><a onclick='play_song(" +song_list[i].song_id+ ")' href='#' >"+ song_list[i].name+"     "+ song_list[i].artist+"</a></p><img src='" + song_list[i].cover+ "' alt='' style='width:90px; height:90px;'></div></article><hr>";
                    $("#parent").append(html);
                }
            });
        };
        </script>
{% endblock %}
